.card {
  margin-top: 50px;
  width: 100%;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.10);
  overflow: hidden;
  text-align: center;
  padding-bottom: 15px;
  cursor: pointer;
}



.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.card h2 {
  font-size: 18px;
  margin: 10px 0 5px;
}

.card h3 {
  font-size: 16px;
  color: #555;
  margin: 5px 0;
}

.price {
  color: green;
  font-weight: bold;
  margin: 5px 0;
}

