.product-page {
  display: flex;
  gap: 40px;
  padding: 30px;
  font-family: Arial, sans-serif;
  background: #fff;
}

/* LEFT */
.left-section {
  width: 45%;
}

.main-image {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}

.main-image img {
  width: 100%;
}

.thumbnail-row {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.thumbnail-row img {
  width: 70px;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
}

/* RIGHT */
.right-section {
  width: 55%;
}

.title {
  font-size: 26px;
  margin-bottom: 10px;
}



.rating {
  font-size: 14px;
  margin-bottom: 15px;
}

.rating span {
  color: gray;
}

.price-box {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 5px;
}

.price {
  font-size: 28px;
  font-weight: bold;
}

.old {
  text-decoration: line-through;
  color: gray;
}

.off {
  color: green;
  font-weight: bold;
}

.tax {
  font-size: 13px;
  color: gray;
  margin-bottom: 10px;
}




.btn-row {
    margin-top: 100px;
  display: flex;
  gap: 15px;
}

.cart-btn {
  flex: 1;
  padding: 15px;
  font-size: 16px;
  border: 2px solid black;
  background: white;
  cursor: pointer;
}

.buy-btn {
  flex: 1;
  padding: 15px;
  font-size: 16px;
  background: #ffc107;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
